#uploadCard {
    background-color: rgb(238, 238, 238);
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 8%;
}

.option1 {
    margin-bottom: 15%;
}

.uploadButton {
    position: relative;
    top: 20px;
}

