#errorMessage {
    position: fixed !important;
    color: red;
    margin-top: 13%;
    left:83%;
    width:12%;
  }

  #menuItem {
    border-color: white;
  border-width: 1px;
  border-style: solid;
  background-color: #004286;
  color: white;
  }

  #licenseItem {
    border-color: #CE5100;
  border-width: 1px;
  border-style: solid;
  background-color: white;
  color: #CE5100;
  }