.class1{
    background-color: rgba(63, 81, 181, 0.1) !important;
}
.class2{
    background-color: rgba(63, 81, 181, 0.2) !important;
}

.class3{
    background-color: rgba(63, 81, 181, 0.3) !important;
}

.class4{
    background-color: rgba(63, 81, 181, 0.4) !important;
}
.class5{
    background-color: rgba(63, 81, 181, 0.5) !important;
}
.class6{
    background-color: rgba(63, 81, 181, 0.6) !important;
}
.class7{
    background-color: rgba(63, 81, 181, 0.7) !important;
}