#headerLogo {
    position: fixed;
    width: 5%; 
    transform: translateY(-50%);  
  }
  
 #pageContainer {
    position: relative;
    min-height: 100vh;
    overflow: hidden;     
  }

  #footer {
    box-sizing: border-box;
    background-color: #0d1b96;
    position: absolute;
    bottom: 0;
    min-width: 100%;
    height: 2.5rem;
  }

  #header {
    background-color: #0d1b96;
  }

  #links {
    text-align: center;
    color: white;
  }

  #link {
    color: white;
  }
  
  .AppBar {
    display: flex;
    flex-direction: row;
  }

  .orcidImage{
    width:12px;
    margin-right: 2px;
  }

  #mainView {
    margin-top: 4%;
    margin-left: 1%;
  }

  #moreInfo {
    text-align: center;
  }