#headerLogo {
    position: fixed;
    width: 5%; 
    transform: translateY(-50%);  
  }
 
  body {
    overflow: hidden;
  }

 #pageContainer {
    position: relative;
    min-height: 100vh;
    overflow: hidden;     
  }

  #footer {
    box-sizing: border-box;
    background-color: #004286;
    position: fixed;
    bottom: 0;
    min-width: 100%;
    height: 2.5rem;
  }

  #header {
    background-color: #004286;
  }

  #links {
    text-align: center;
    color: white;
  }

  #link {
    color: white;
  }
  
  .AppBar {
    display: flex;
    flex-direction: row;
  }

  .orcidImage{
    width:12px;
    margin-right: 2px;
  }

  #mainView {
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: calc(100vh - (2.5rem + 64px));
    min-height: calc(100vh - (2.5rem + 64px));
    margin-top: 64px;
    margin-bottom: 2.5rem;
    margin-left: 1%;
  }