.success {
    color: #008643;
}

.failure {
    color: #860000;
}

.running {
    color: #004286;
}

.steps {
    text-align: left;
}

.skipped {
    color: rgb(67, 69, 83);
}

.queued {
    color: rgb(206, 81, 0);
}

.runAnalysisBtn {
    margin-top: 2%;
    margin-bottom: 2%;
}

.stepmargin {
    margin-bottom: 2%;
}
