.leaflet-container{
    height: 400px;
}

#form{
    margin-bottom: 50px;
}

#date{
    margin-bottom: 20px;
    margin-right: 20px;
}

#errorMessage {
    position: fixed !important;
    color: red;
    margin-top: 13%;
    left:83%;
    width:12%;
  }
